.modal-default {
  background-color: #fff;
  border-radius: 10px;
}
.modal {
  display: flex;
  padding: 50px 50px;
  flex-direction: column;
  align-items: center;
  .xs-block({ padding: 35px 20px; });
  .close-modal {
    display: flex;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 35px;
    height: 35px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #dadada;
    cursor: pointer;
    user-select: none;
    box-sizing: border-box;
    border: 1px solid #dadada;
    border-radius: 50%;
    transition: 0.3s;
    .xs-block({ width: 25px; height: 25px; font-size: 25px; top: 10px; right: 10px; });
    &:hover {
      background: #ffba00;
      border: 1px solid transparent;
      box-shadow: 0px 0px 40px 5px rgba(255, 186, 0, 0.5);
      color: #fff;
    }
  }
  &.b-modal-policy {
    padding: 50px 33px;
    color: #000;
    .xs-block({ padding: 35px 20px; });
    .title {
      margin-bottom: 50px;
      font-family: @fontBebas;
      font-weight: bold;
      font-size: 4.5rem;
      letter-spacing: 1.3rem;
      text-transform: uppercase;
      .md-block({ font-size: 3rem; letter-spacing: 1rem; margin-bottom: 35px; });
      .xs-block({ font-size: 2.4rem; letter-spacing: 0.75rem; margin-bottom: 20px; });
    }
    .wrapper-text {
      height: calc(~"100vh - 320px");
      padding-right: 25px;
      overflow: auto;
      min-height: 320px;
      &::-webkit-scrollbar-track {
        border-radius: 4px;
        background-color: #dfdfdf;

      }
      &::-webkit-scrollbar {
        width: 6px;
        background-color: #dfdfdf;
        border-radius: 4px;
        .xs-block({ width: 4px;});
      }
      &::-webkit-scrollbar-thumb {
        background-color: #ffba00;
        border-radius: 4px;
      }
      .title-section {
        margin-top: 50px;
        margin-bottom: 20px;
        font-family: @fontBebas;
        font-weight: bold;
        font-size: 2.8rem;
        letter-spacing: 0.7rem;
        .md-block({ font-size: 2.4rem; letter-spacing: 0.75rem; margin-bottom: 12px; margin-top: 30px;});
        .xs-block({ font-size: 2rem; letter-spacing: 0.5rem; margin-top: 15px;});
        &:first-of-type {
          margin-top: 0;
        }
      }
      .list li,
      .paragraph {
        margin-bottom: 2rem;
        font-size: 1.8rem;
        color: #000;
        font-weight: 400;
        text-indent: 15px;
        .md-block({ font-size: 1.6rem; margin-bottom: 1.6rem; });
        .xs-block({ font-size: 1.4rem; margin-bottom: 1.4rem; text-indent: 8px;});
      }
      .link {
        border-bottom: 1px solid #000;
        transition: 0.3s;
        color: #000;
        &:hover {
          border-bottom-color: transparent;
        }
      }
    }
  }
}
.pop-out-enter-active,
.pop-out-leave-active {
  transition: all 0.3s;
}
.pop-out-enter,
.pop-out-leave-active {
  opacity: 0;
  transform: translateY(24px);
}
